<div class="container-fluid text-center">
  <h1 class="my-5">Profil de <%=@user.first_name%></h1>
  <h3 class="my-4">A propos de <%=@user.first_name%> :</h3>
  <div class="card container" style="width: 25rem">
    <ul class="list-group list-group-flush text-center row">
      <li class="list-group-item">Nom de famille : <%=@user.last_name%></li>
      <li class="list-group-item">Age : <%=@user.age%></li>
      <li class="list-group-item">Description : <%=@user.description%></li>
      <li class="list-group-item">E-mail : <%=@user.email%></li>
      <li class="list-group-item">
        Ville : <%=@city.name%> <%=@city.zip_code%>
      </li>
    </ul>
  </div>
  <button
    class="btn btn-sm btn-primary my-3"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#collapseExample"
    aria-expanded="false"
    aria-controls="collapseExample"
  >
    Voir tous les gossips (<%=@user.gossips.count%>) :
  </button>
  <div class="collapse container" id="collapseExample">
    <h2></h2>
    <%@user.gossips.each do |i| %>
    <div class="card my-4 container" style="width: 25rem">
      <div class="card-header row"><%=i.title%></div>
      <div class="card-body">
        <p class="card-text"><%=i.content%></p>
        <p class="card-text">
          <small class="text-muted"
            ><%=i.created_at.strftime("Créé le %m/%d/%Y")%></small
          >
        </p>
      </div>
      <div class="card_footer">
        <a href="<%=home_show_path(i.id)%>" class="btn btn-primary btn-sm m-3"
          >Voir le gossip</a
        >
      </div>
    </div>
    <%end%>
  </div>
</div>
